<md-tab-group>
  <md-tab label="Overview">
    <div class="page-content">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <md-card class="page-card" fxFlex>
          <md-card-title>Win Rate Vs. Ticket Sales</md-card-title>
          <md-card-content>
            <lk-chart-js *ngIf="done" [type]="bar?.type" [options]="options" [data]="bar?.data"
                         [height]="320"></lk-chart-js>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-tab>
  <md-tab label="Usage">
    <div class="page-content">
      <md-card class="page-card" fxFlex>
        <md-card-title>Bar Chart</md-card-title>
        <md-card-content>
          <lk-chart-js *ngIf="done" [type]="line?.type" [options]="options" [data]="line?.data"
                       [height]="320"></lk-chart-js>
        </md-card-content>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>